/* 28 different methods */



.JsDatePickBox {
	position:relative;
	width:212px;
	font-family:Arial;
}
/*
	
*/
.JsDatePickBox .hiddenBoxLeftWall {
	float:left;
	width:0;
	overflow:hidden;
	overflow:hidden;
}
/*
	
*/
.JsDatePickBox .boxMainStripped {
	background:#fff;
	border:none;
}
/*
	
*/
.JsDatePickBox .tooltip {
	height:12px;
	line-height:11px;
	overflow:hidden;
	font-size:10px;
	color:#666;
	text-align:left;
	padding:0;
	margin:2px 0 2px 0;
}
/*
	
*/
.JsDatePickBox .weekDaysRow {
	height:12px;
	overflow:hidden;
	line-height:11px;
	font-size:10px;
	color:#666;
	text-align:center;
	padding:0;
	margin:2px 0 0 0;
}
/*
	
*/
.JsDatePickBox .weekDaysRow .weekDay {
	float:left;
	height:14px;
	overflow:hidden;
	width:24px;
	margin:0 5px 0 0;
	padding:0;
}
/*
	
*/
.JsDatePickBox .boxMainInner {
	background:#fff;
	width:198px;
	float:left;
	margin:5px 0 0 0;
	padding:0;
}
/*
	
*//*
.JsDatePickBox .boxMainCellsContainer {
	background-color:#fff;
	margin:0;
	padding:0;
}
/*
	needed
*/
.JsDatePickBox .boxMainInner .controlsBar {
	overflow:hidden;
	height:20px;
	position:relative;
}
/*
	needed
*/
.JsDatePickBox .boxMainInner .controlsBarText {
	overflow:hidden;
	height:20px;
	line-height:20px;
	color:#000;
	font-size:12px;
	text-align:center;
}
/*
	needed
*/
.JsDatePickBox .boxMainInner .monthForwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_normal.gif) left top no-repeat;
}
/*
	needed
*/
.JsDatePickBox .boxMainInner .monthForwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_over.gif) left top no-repeat;
}
/*
	needed 
*/
.JsDatePickBox .boxMainInner .monthForwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_down.gif) left top no-repeat;
}
/*
	This code generates the initial tile for moving 
	back to the previous month.
*/
.JsDatePickBox .boxMainInner .monthBackwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:22px;
	background:url(img/monthBackward_normal.gif) left top no-repeat;
}
/*
	
*//*
.JsDatePickBox .boxMainInner .monthForwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_normal.gif) left top no-repeat;
}
/*
	
*//*
.JsDatePickBox .boxMainInner .monthForwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_over.gif) left top no-repeat;
}
/*
	
*//*
.JsDatePickBox .boxMainInner .monthForwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:22px;
	background:url(img/monthForward_down.gif) left top no-repeat;
}
/*
	
*//*
.JsDatePickBox .boxMainInner .monthBackwardButton {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:22px;
	background:url(img/monthBackward_normal.gif) left top no-repeat;
}
/*
	When the user hoveres over the button to move to the 
	previous month this replaces the tile with one 
	of a darker shade.
*/
.JsDatePickBox .boxMainInner .monthBackwardButtonOver {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:22px;
	background:url(img/monthBackward_over.gif) left top no-repeat;
}
/*
	When the user clicks the button to move to the 
	previous month this replaces the tile with one 
	of a darker shade as long as the user holds the click.
*/
.JsDatePickBox .boxMainInner .monthBackwardButtonDown {
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:22px;
	background:url(img/monthBackward_down.gif) left top no-repeat;
}
/*
	This code positions the days in their 
	correct positions so they are under 
	their correct day. It dose this by 
	skipping days at the beginning of the 
	month until the days are correct.
*/
.JsDatePickBox .boxMainInner .skipDay {
	cursor:default;
	overflow:hidden;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
}
/*
	This code positions the tiles of all 
	of the dates besides the current date. 
	
*/
.JsDatePickBox .boxMainInner .dayNormal {
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#4c4c4c;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/*
	This code positions the initial tile for 
	the current date. 
*/
.JsDatePickBox .boxMainInner .dayNormalToday {
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#f40f0f;
	font-weight:bold;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/*


*//*
.JsDatePickBox .boxMainInner .dayDisabled {
	-khtml-user-select:none;
	cursor:default;
	font-size:12px;
	overflow:hidden;
	color:#999;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/*
	When the user hovers the cursor over 
	a date besides the current date, 
	this code maintains the position 
	of he replaced tile.
*/
.JsDatePickBox .boxMainInner .dayOver {
	-khtml-user-select:none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#4c4c4c;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/*
	When the user hovers the cursor over the 
	current date, this code maintains the 
	position of he replaced tile.
*/
.JsDatePickBox .boxMainInner .dayOverToday {
	-khtml-user-select:none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	font-weight:bold;
	color:#f40f0f;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/*
	When the user selects a date besides 
	the current date, this code maintains 
	the position of he replaced tile.
*/
.JsDatePickBox .boxMainInner .dayDown {
	-khtml-user-select:none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#F9F9F9;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height:25px;
}
/* 
	When the user selects the current date, 
	this code maintains the position of the 
	replaced tile. 
*/
.JsDatePickBox .boxMainInner .dayDownToday {
	-khtml-user-select:none;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
	color:#f40f0f;
	font-weight:bold;
	width:24px;
	height:25px;
	float:left;
	margin:4px 5px 0 0;
	padding:0;
	text-align:center;
	line-height: 25px;
}